
.vs/ProyectoFinal/v17/Browse.VC.db-wal
.vs/ProyectoFinal/FileContentIndex/1d6e11fe-d964-42da-b119-6f85c8f6f9a3.vsidx
.vs/ProyectoFinal/FileContentIndex/read.lock
.vs/ProyectoFinal/v17/.suo
.vs/ProyectoFinal/v17/Browse.VC.db
.vs/ProyectoFinal/v17/Browse.VC.db-shm
.vs/ProyectoFinal/v17/Browse.VC.opendb
.vs/ProyectoFinal/v17/ipch/AutoPCH/b058060a691c6bed/MAINPRUEBA.ipch
